*{margin: 0;padding: 0}


html,body{
    height: 100%;
    width: 100%;
}

.nav{
    height: 50px;
    list-style: none;
    background-color: rgb(160, 53, 53);
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
}

.nav li{
    font:  20px/50px '';
    flex:1;
    text-align: center; 
}
